<header>
  <section class="container over-lay text-center">
      <h1>Book Reviews</h1>
      <div class="space"></div>
      <div class="book_week">
        <div class="week">
          <h2>52 Week 52 Books</h2>
          <h4>For a Serial Procrastinator This Will Be Difficult.</h4>
        </div>
      </div>
      <div class="btn-space"></div>
      <div class="header_btn">
        <li><%= link_to "Book List", books_path , class: " btn btn-link" %></li>
        <p>*subject to change</p>
      </div>
    </div>
  </section>
</header>
